@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand&display=swap');
*{
    padding: o;
    margin:0;
    box-sizing: border-box;
} 
header{
    display: flex;
    padding: 30px;
    

}
.header button2
{
    color: brown;
}
.image logo2
{
    margin-top: auto;
}

.sidebar{
  position: fixed;
  background: #fff;
  width: 345px;
  height: 100%;
 border-right:1px solid gray;
  margin-top: 15px;
  left: 0;
  z-index: 1;
 

}
.sidebar ul li{
  margin:25px 0;
 
  
}
.fas{
  color:orange;
}
.sidebar ul li a{
  color: #201E1E;
  text-decoration: none;
  padding: 14px;
 
}
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    margin-left: 345px;
    padding: 40px;
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  .row2{
    margin-left: 345px;
    display: flex;
    flex-direction: row;
    
  
    
  }
  /* Closable button inside the image */
  .closebtn{
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .column2{
    float: left;
    width: 20.33%;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    margin: 20px;
    border-radius:5px ;
    justify-content: space-between;
  }
  
  .containerTab2 {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after2 {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn2{
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  h1
  {
      background-color:  orangered;
      width: 100vh;
      border-radius: 10px;
      height: fit-content;
      margin-left: 10%;

  }
h4
{
    margin-left: 10%;
}
body
{
background: #f3f5f9; 
width: 1000px;   
}
.wrapper .sidebar
{
    position :fixed;
    width:200px;
    height: 100%;
padding: 30px 0;
}
.wrapper .sidebar h2
{
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin-bottom:30px ;


}
.wrapper .sidebar ul li
{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba (225,225,225,0.05);

}