@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand&display=swap');
*{
    padding: o;
    margin:0;
    box-sizing: border-box;
} 
header{
    display: flex;
    justify-content: space-between;
    

}
.logo
{
width: 200px;
height: 100px;
 margin-top: 10px;
 
}
.button
{
 
 margin: 40px ;

}
.container
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.left
{
    width: 50%;
    height: 600px;
    background-color:rgba(233, 62, 10, 0.897);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:30px;
    border-radius: 10px;
    
}
.right
{
    display: flex;
 width: 40%;
 height: 500px;
 align-items: center;
 background-color:whitesmoke; 
 border-radius: 8px; 
justify-content: center;
margin-left: -150px;
flex-direction: column;
}

.left h1 
{
font-size: 30px;
font-weight: lighter;
}




.right p
{
    margin: 20px 0;
    font-weight: 500;
    line-height:25px;
}

.right a
{
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color:rgba(233, 62, 10, 0.897);
    padding: 20px 30px;
    display:inline-block;
    letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  margin: 60px 0 0 0;
  display: inline-block;
  color:antiquewhite;
}


p h5

{
 float: left;
 font-display: 4px;   
}
